@using WebsiteSalePhones.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Model.EF.DienThoai>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

@*@*Hiển thị hãng sản xuất*@

<div class="span9">
    <!--
    New Products
    -->
    <div class="well well-small">
        <h4 style="margin-left:2%;color:red">@ViewBag.HangSanXuat</h4>
        <div class="row-fluid">
            <ul class="thumbnails" style="margin:0">
                @foreach (var item in Model)
                {
                    <li class="span4" style="margin-left:1%;">
                        <div class="thumbnail">
                            <a href="@Url.Action("ProductDetail", "Phone", new { @MaDT = item.MaDT })" class="overlay"></a>
                            <a class="zoomTool" href="@Url.Action("ProductDetail", "Phone", new { @MaDT = item.MaDT })" title="add to cart"><span class="fas fa-search"></span> QUICK VIEW</a>
                            <a href="@Url.Action("ProductDetail", "Phone", new { @MaDT = item.MaDT })"><img style="width:180px;height:320px;" src="@Url.Content("~/Assets/Client/img/" + item.AnhBia)" alt=""></a>
                            <div style="width:190px;height:120px;" class="caption cntr">
                                <p>@item.TenDT</p>
                                <p><strong>@item.GiaBan.GetValueOrDefault(0).ToString("N0")</strong></p>
                                <h4><a class="shopBtn" href="/them-gio-hang?productID=@item.MaDT&quantity=1" title="add to cart"> Add to cart </a></h4>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>

    </div>
</div>
<div style="margin-left:2%; margin-bottom:1%;">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</div>
<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("ShowPhoneType", "PhoneCategory"))
</div>
<style>
    .MenuPage li {
        display: inline;
        margin-left: 2%;
    }
</style>


