@using WebsiteSalePhones.Common;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- bootstrap style s-->
    <link href="~/Content/UserCssLayout/bootstrap.css" rel="stylesheet" />
    <!-- font awesome styles -->
    <link href="~/Content/UserCssLayout/font-awesome.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="~/Content/UserCssLayout/style.css" rel="stylesheet" />
    <link href="~/Content/UserCssLayout/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/Content/UserCssLayout/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/Content/UserCssLayout/font-awesome-ie7.min.css" rel="stylesheet" />*@
    <!-- Insert Css Design-->
    <link href="~/Content/UserCssLayout/UserCssLayout.css" rel="stylesheet" />

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Assets/Client/js/jquery.js"></script>
    <script src="~/Assets/Client/js/jquery-1.11.3.min.js"></script>
    <script src="~/Assets/Client/js/jquery-ui.js"></script>
    <script src="~/Assets/Client/js/bootstrap.js"></script>


    <script src="~/Assets/Client//js/bootstrap.min.js"></script>
    <script src="~/Assets/Client/js/jquery.easing-1.3.min.js"></script>
    <script src="~/Assets/Client/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="~/Assets/Client/js/shop.js"></script>
</head>
<body>
    <!--
        Upper Header Section
    -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="topNav">
            <div class="container">
                <div class="alignR">
                    <div class="pull-left socialNw">
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                        <a href="#"><span class="fab fa-tumblr"></span></a>
                    </div>
                    <a class="active" href="/Home/Index/"> <span class="fas fa-home"></span> Trang chủ</a>
                    @{ 
                        var session =(UserLogin) Session[WebsiteSalePhones.Common.CommonConstant.USER_SESSION];
                    }
                    @if (session == null)
                    {
                        <a href="/User/Login"><span class="fas fa-user"></span>Đăng nhập</a>
                        <a href="@Url.Action("Register","User")"><span class="fas fa-edit"></span>Đăng kí</a>
                    }
                    else
                    {
                        <a href="#"><span class="fas fa-user"></span> Xin chào: @session.UserName</a>
                        <a href="/User/Logout"><span class="fas fa-sign-out-alt"></span>Đăng xuất</a>
                    }

                    <a href="#"><span class="fas fa-envelope"></span> Liên hệ</a>

                    <a href="/Cart/Index"><span class="fas fa-shopping-cart"></span>Giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    Lower Header Section
    -->
    <div class="container">
        <div id="gototop"> </div>
        <header id="header">
            <div class="row">
                <div class="span4">
                    <h1>
                        <a class="logo" href="/" hreflang="nofollow">
                            <span>Twitter Bootstrap ecommerce template</span>
                            <img src="~/Assets/Client/img/logo.png" alt="bootstrap sexy shop">
                        </a>
                    </h1>
                </div>
               @{ Html.RenderAction("HeaderCart", "Home");}
            </div>
        </header>

        <!--
        Navigation Bar Section
        -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li class=""><a href="@Url.Action("AllProduct","Phone")">Điện thoại</a></li>
                            <li class=""><a href="#">Giới thiệu</a></li>
                        </ul>
            
                        <form action="/Phone/ResultSearch" method="post" class="navbar-search" style="margin-left:330px;">
                            <input type="text" id="txtKeyword" name="txtKeyword" placeholder="Search" class="search-query span2"><button style="height:30px;"type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        </div>
                </div>
            </div>
        </div>
        <!--
        Body Section
        -->
        <div class="row">
            <div id="divNavigation">
                @Html.Action("Navigation", "PhoneCategory")
            </div>
            <div class="span9">
                @RenderBody()
            </div>
        </div>

        <!--
        Footer
        -->
          <footer class="footer">
                <div class="row-fluid">
                    <div class="span3">
                        <h4>ĐỒ ÁN MÔN HỌC</h4>
                        <p> Môn: Công nghệ web và ứng dụng</p>
                        <p> Lớp: SE341.J11</p>
                        <p> GVHD: Mr. Trần Anh Dũng</p>
                    </div>
                    <div class="span3">
                        <h4>THÀNH VIÊN NHÓM</h4>
                        <p>1. Trần Quốc Toàn - KTPM2016</p>
                        <p>2. Tô Công Hậu - KTPM 2016</p>
                        <p>3. Nguyễn Văn Toàn - KHMT2015</p>
                    </div>
                    <div class="span4">
                        <h4>ĐỊA CHỈ LIÊN HỆ</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2274176150013!2d106.80126261421654!3d10.870299992257857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRy1IQ00!5e0!3m2!1svi!2s!4v1545546038009" width="400" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </footer>
        </div>
    <!-- /container -->

    <div class="copyright">
        <div class="container">
            <span>Copyright &copy; DPSG 2018</span>
        </div>
    </div>

    <script src="~/Assets/Client/js/controller/baseController.js"></script>
    @RenderSection("jsFooter", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
