@model PagedList.IPagedList<Model.EF.DienThoai>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Admin/Home/Index">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Sản phẩm</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Danh sách điện thoại
                    <a class="btn btn-success" style="float:right" href="/Admin/Phones/Create">
                        Thêm mới
                    </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã DT</th>
                                <th>Tên DT</th>
                                <th>Giá</th>
                                <th>Image</th>
                                <th>Ngày cập nhật</th>
                                @*<th>Hãng SX</th>*@
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                    <tr id="row_@item.MaDT">  
                                    <td>@item.MaDT</td>
                                    <td>@item.TenDT</td>
                                    <td>@item.GiaBan</td>
                                    <td>@item.AnhBia</td>
                                    <td>@item.NgayCapNhat</td>
                                    @*<td>@ViewBag.MaHSX</td>*@
                                    <td>
                                        <a href="/Admin/Phones/Edit/@item.MaDT">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaDT }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này?",
                                           OnComplete = "$('#row_" + @item.MaDT + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="MenuPage">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<style>
    .MenuPage li {
        margin-left: 1%;
    }
</style>
